.input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc; /* Граница вокруг инпутов */
  border-radius: 4px; /* Скругление углов инпутов */
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
}

.pItem {
  /* padding-left: 6px;
  padding-right: 6px; */
}
