/* AuthBar.module.css */
.navAuth {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: center;
  gap: 15px;
}

.navAuthRight {
  margin-left: auto; /* Push the list to the right */
}

.navItem {
}

.navAuthLink {
  font-size: 24px;
}

.navAuthLink:hover {
  color: #0a96f4;
  /* text-shadow: 0 0 10px #0a96f4; */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.authActive {
  color: #0a96f4;
  /* text-shadow: 0 0 15px #0a96f4; */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.conteiner {
  border-bottom: 3px solid #0a96f4;
  margin-bottom: 40px;
  padding-bottom: 2px;
}
